.horizontal-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #8c8981;
    z-index: 999; /* Higher than modal’s 998 */
  }
  
  .nav-item {
    font-size: 12px;
    font-weight: 500;
    color:#625E55;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .nav-item:hover {
    color: #d32020;
  }
  