.top-announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d32020;
  color: white;
  height: 35px;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

  .user-click-wrapper {
    position: relative;
    top: -2px;
}
  .scrolling-text {
    flex: 1;
    margin-right: 16px;
  }
  
  .icons {
    display: flex;
    gap: 20px;
    width: 150px;
    justify-content: center;
  }

  .user-popup_AN{
     position: absolute;
    top: 35px;
    right: -5px;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    padding: 10px;
    min-width: 140px;
    z-index: 9999999;
  }

  .user-icon-wrapper {
    position: relative;
  }