.root_cart {
    width: 360px;
    border-radius: inherit !important;
}

.icon_color {
    color: green;
    position: relative;
    align-items: center;
    display: flex;
}

/* This affects ONLY your custom toast */
.cart-toast-wrapper.Toastify__toast {
    --y: 0;
    position: relative;
    touch-action: none;
    width: 400px !important;
    min-height: 20px !important;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: var(--toastify-toast-padding);
    border-radius: var(--toastify-toast-bd-radius);
    box-shadow: var(--toastify-toast-shadow);
    max-height: var(--toastify-toast-max-height);
    font-family: var(--toastify-font-family);
    z-index: 0;
    display: flex;
    flex: 1 auto;
    align-items: center;
    word-break: break-word;
    border-radius: inherit !important;
    border: none !important;
    top: 50px !important;
}

.Toastify__close-button>svg {
    fill: currentColor;
    height: 16px;
    width: 14px;
    position: relative;
    top: 8px;
    right: 15px;
}

@media (max-width: 768px) {
    .cart-toast-wrapper.Toastify__toast {
        --y: 0;
        position: relative;
        touch-action: none;
        width: var(--toastify-toast-width) !important;
        min-height: 20px !important;
        box-sizing: border-box;
        margin-bottom: 1rem;
        padding: var(--toastify-toast-padding);
        border-radius: var(--toastify-toast-bd-radius);
        box-shadow: var(--toastify-toast-shadow);
        max-height: var(--toastify-toast-max-height);
        font-family: var(--toastify-font-family);
        z-index: 0;
        display: flex;
        flex: 1 auto;
        align-items: center;
        word-break: break-word;
        border-radius: inherit !important;
        border: none !important;
    }
}

.view-cart-toast-button {
    flex: 1;
    padding: "8px 12px";
    border: "1px solid #000";
    background: "#fff";
    cursor: "pointer";
    color: black !important;
    background-color: white !important;
}